<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registeration</title>
</head>
<body>
    
    {% if request.user.is_authenticated %}
        <h1>hello {{request.user.username}}</h1>
    {% endif %}

    <h2>login form</h2>    
    <form action="{% url 'login' %}" method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit">login</button>
    </form>
</body>
</html>